.Menu {
    text-align: center;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}




.Menu-header {
    background-color: grey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.Menu-link {
    color: #61dafb;
}


button {
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding-left: 500px;
    padding-right: 500px;
}


.Logout {
    background-color: red;
}

.Title {
    font-size: 50px;
}

label {
    padding: 40px;
    text-align: center;
}

.opgavedele {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

textarea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Teknikernavn {
    font-size: 27px;
    align-items: center;
    justify-content: center;
}

.Opgave {
    font-size: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Beskrivelse {
    color: black;
}

.userData {
   font-size: 22px;
}

.Kunde{
    font-size: 20px;
}