.OpgaveInfo {
    text-align: center;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}




.Info-header {
    background-color: grey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.App-link {
    color: #61dafb;
}

button {
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}


.Logout {
    background-color: red;
}

.Title {
    font-size: 50px;
}

label {
    padding: 40px;
    text-align: center;
}

.opgavedele {
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    display: flex;
    align-items: center;
    justify-content: center;
}
